In [92]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import acquire

Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [41]:
def get_api(url):
    '''
    Takes a URL to pull,
    returns the response from the JSON API.
    '''
    response = requests.get(url)
    return(response.json())

In [42]:
url = 'https://python.zgulde.net/api/v1/items'
base_url = 'https://python.zgulde.net'

In [43]:
data = get_api(url)

In [44]:
data.keys()

dict_keys(['payload', 'status'])

In [45]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [46]:
data['payload']['max_page']

3

In [47]:
items = pd.DataFrame(data['payload']['items'])
items.shape

(20, 6)

In [48]:
def page(data, dict_key):
    '''
    Takes in response data variable and dictionary key for the data you want,
    Returns current page, max pages, and next page.
    '''
    current_page = data[dict_key]['page']
    max_page = data[dict_key]['max_page']
    next_page = data[dict_key]['next_page']
    print(f'Current Page: {current_page}')
    print(f'Max Pages: {max_page}')
    print(f'Next Page : {next_page}')

In [49]:
page(data, 'payload')

Current Page: 1
Max Pages: 3
Next Page : /api/v1/items?page=2

In [50]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()
page(data, 'payload')
items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index()
items.shape

Current Page: 2
Max Pages: 3
Next Page : /api/v1/items?page=3

(40, 7)

In [51]:
items.head()

,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [52]:
page(data, 'payload')

Current Page: 2
Max Pages: 3
Next Page : /api/v1/items?page=3

In [53]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()
page(data, 'payload')
items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index()
items.shape

Current Page: 3
Max Pages: 3
Next Page : None

(50, 8)

In [54]:
items.head()
items.tail()

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
45,5,NaN,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664
46,6,NaN,Bear Naked,47,Bear Naked Fit Almond Crisp 100 Percent Natura...,7.38,884623708976,884623708976
47,7,NaN,Dove,48,Dove Men + Care Antiperspirant Deodorant Cool ...,3.72,79400271631,79400271631
48,8,NaN,Easy-off,49,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772
49,9,NaN,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

In [55]:
items = items.drop(columns=['level_0', 'index'])

In [56]:
items

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000
20,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
21,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
22,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
23,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
24,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428
25,Triaminic,26,Triaminic Syrup Night Time Cold & Cough Grape 4oz,0.98,300436344045,300436344045
26,Morton,27,Morton Kosher Salt Coarse,6.01,24600017008,24600017008
27,Usda Produce,28,Guava,7.52,719175900007,719175900007
28,Heinz,29,Heinz Tomato Ketchup - 2 Ct,8.65,13000001038,13000001038
29,Petmate,30,Petmate Booda Bones Steak Bacon & Chicken Flav...,8.39,723503568678,723503568678
30,Zhenas Gypsy Tea,31,Zhenas Gypsy Tea Herbal Red Tea Sachets Fire L...,4.21,652790100226,652790100226
31,Barefoot,32,Barefoot Pinot Grigio 187,0.68,8500004528,8500004528
32,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
33,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
34,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066
35,Deerfields Gluten Free,36,Rice Bran Gluten Free Dinner Rolls Plain,7.95,610358991525,610358991525
36,Nakano,37,Nakano Seasoned Rice Vinegar Original,9.59,73575295003,73575295003
37,Sundown Naturals,38,Sundown Naturals Essential Electrolytes Tropic...,3.45,30768540548,30768540548
38,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On G...,9.02,28400029254,28400029254
39,Amys,40,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063
40,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
41,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
42,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
43,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
44,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237
45,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664
46,Bear Naked,47,Bear Naked Fit Almond Crisp 100 Percent Natura...,7.38,884623708976,884623708976
47,Dove,48,Dove Men + Care Antiperspirant Deodorant Cool ...,3.72,79400271631,79400271631
48,Easy-off,49,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772
49,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [57]:
url = 'https://python.zgulde.net/api/v1/stores'
base_url = 'https://python.zgulde.net'

In [58]:
data = get_api(url)

In [59]:
data.keys()

dict_keys(['payload', 'status'])

In [60]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [61]:
stores = pd.DataFrame(data['payload']['stores'])
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [62]:
page(data, 'payload')

Current Page: 1
Max Pages: 1
Next Page : None

Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [63]:
url = 'https://python.zgulde.net/api/v1/sales'
base_url = 'https://python.zgulde.net'

In [64]:
data = get_api(url)
data.keys()

dict_keys(['payload', 'status'])

In [65]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [66]:
sales = pd.DataFrame(data['payload']['sales'])
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [85]:
# def get_payload(url, payload, db_name):
#     data = get_api(url)
#     df = pd.DataFrame(data[payload][db_name])
#     pages = data[payload]['max_page']
#     page_url = url + '?page='
#     sales = []
#     for page in range(1,pages):
#         endpoint = str(page)
#         response = requests.get(
#             page_url+endpoint).json()['payload']['sales']
#         print(f'''Getting page {endpoint} of 183. 
#         ''', end='')
#         sales.extend(response)
#     return df

In [93]:
sales = get_payload(url, 'payload','sales')

Getting page 1 of 183.
        Getting page 2 of 183.
        Getting page 3 of 183.
        Getting page 4 of 183.
        Getting page 5 of 183.
        Getting page 6 of 183.
        Getting page 7 of 183.
        Getting page 8 of 183.
        Getting page 9 of 183.
        Getting page 10 of 183.
        Getting page 11 of 183.
        Getting page 12 of 183.
        Getting page 13 of 183.
        Getting page 14 of 183.
        Getting page 15 of 183.
        Getting page 16 of 183.
        Getting page 17 of 183.
        Getting page 18 of 183.
        Getting page 19 of 183.
        Getting page 20 of 183.
        Getting page 21 of 183.
        Getting page 22 of 183.
        Getting page 23 of 183.
        Getting page 24 of 183.
        Getting page 25 of 183.
        Getting page 26 of 183.
        Getting page 27 of 183.
        Getting page 28 of 183.
        Getting page 29 of 183.
        Getting page 30 of 183.
        Getting page 31 of 183.
        Getting page 32 of 183.
        Getting page 33 of 183.
        Getting page 34 of 183.
        Getting page 35 of 183.
        Getting page 36 of 183.
        Getting page 37 of 183.
        Getting page 38 of 183.
        Getting page 39 of 183.
        Getting page 40 of 183.
        Getting page 41 of 183.
        Getting page 42 of 183.
        Getting page 43 of 183.
        Getting page 44 of 183.
        Getting page 45 of 183.
        Getting page 46 of 183.
        Getting page 47 of 183.
        Getting page 48 of 183.
        Getting page 49 of 183.
        Getting page 50 of 183.
        Getting page 51 of 183.
        Getting page 52 of 183.
        Getting page 53 of 183.
        Getting page 54 of 183.
        Getting page 55 of 183.
        Getting page 56 of 183.
        Getting page 57 of 183.
        Getting page 58 of 183.
        Getting page 59 of 183.
        Getting page 60 of 183.
        Getting page 61 of 183.
        Getting page 62 of 183.
        Getting page 63 of 183.
        Getting page 64 of 183.
        Getting page 65 of 183.
        Getting page 66 of 183.
        Getting page 67 of 183.
        Getting page 68 of 183.
        Getting page 69 of 183.
        Getting page 70 of 183.
        Getting page 71 of 183.
        Getting page 72 of 183.
        Getting page 73 of 183.
        Getting page 74 of 183.
        Getting page 75 of 183.
        Getting page 76 of 183.
        Getting page 77 of 183.
        Getting page 78 of 183.
        Getting page 79 of 183.
        Getting page 80 of 183.
        Getting page 81 of 183.
        Getting page 82 of 183.
        Getting page 83 of 183.
        Getting page 84 of 183.
        Getting page 85 of 183.
        Getting page 86 of 183.
        Getting page 87 of 183.
        Getting page 88 of 183.
        Getting page 89 of 183.
        Getting page 90 of 183.
        Getting page 91 of 183.
        Getting page 92 of 183.
        Getting page 93 of 183.
        Getting page 94 of 183.
        Getting page 95 of 183.
        Getting page 96 of 183.
        Getting page 97 of 183.
        Getting page 98 of 183.
        Getting page 99 of 183.
        Getting page 100 of 183.
        Getting page 101 of 183.
        Getting page 102 of 183.
        Getting page 103 of 183.
        Getting page 104 of 183.
        Getting page 105 of 183.
        Getting page 106 of 183.
        Getting page 107 of 183.
        Getting page 108 of 183.
        Getting page 109 of 183.
        Getting page 110 of 183.
        Getting page 111 of 183.
        Getting page 112 of 183.
        Getting page 113 of 183.
        Getting page 114 of 183.
        Getting page 115 of 183.
        Getting page 116 of 183.
        Getting page 117 of 183.
        Getting page 118 of 183.
        Getting page 119 of 183.
        Getting page 120 of 183.
        Getting page 121 of 183.
        Getting page 122 of 183.
        Getting page 123 of 183.
        Getting page 124 of 183.
        Getting page 125 of 183.
        Getting page 126 of 183.
        Getting page 127 of 183.
        Getting page 128 of 183.
        Getting page 129 of 183.
        Getting page 130 of 183.
        Getting page 131 of 183.
        Getting page 132 of 183.
        Getting page 133 of 183.
        Getting page 134 of 183.
        Getting page 135 of 183.
        Getting page 136 of 183.
        Getting page 137 of 183.
        Getting page 138 of 183.
        Getting page 139 of 183.
        Getting page 140 of 183.
        Getting page 141 of 183.
        Getting page 142 of 183.
        Getting page 143 of 183.
        Getting page 144 of 183.
        Getting page 145 of 183.
        Getting page 146 of 183.
        Getting page 147 of 183.
        Getting page 148 of 183.
        Getting page 149 of 183.
        Getting page 150 of 183.
        Getting page 151 of 183.
        Getting page 152 of 183.
        Getting page 153 of 183.
        Getting page 154 of 183.
        Getting page 155 of 183.
        Getting page 156 of 183.
        Getting page 157 of 183.
        Getting page 158 of 183.
        Getting page 159 of 183.
        Getting page 160 of 183.
        Getting page 161 of 183.
        Getting page 162 of 183.
        Getting page 163 of 183.
        Getting page 164 of 183.
        Getting page 165 of 183.
        Getting page 166 of 183.
        Getting page 167 of 183.
        Getting page 168 of 183.
        Getting page 169 of 183.
        Getting page 170 of 183.
        Getting page 171 of 183.
        Getting page 172 of 183.
        Getting page 173 of 183.
        Getting page 174 of 183.
        Getting page 175 of 183.
        Getting page 176 of 183.
        Getting page 177 of 183.
        Getting page 178 of 183.
        Getting page 179 of 183.
        Getting page 180 of 183.
        Getting page 181 of 183.
        Getting page 182 of 183.

Save the data in your files to local csv files so that it will be faster to access in the future.

In [94]:
# Added to Def
# sales.to_csv('sales.csv')

In [95]:
sales.shape, sales.sale_id.nunique()

((5000, 5), 5000)

Combine the data from your three separate dataframes into one large dataframe.

In [96]:
items.info(), stores.info(), sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  50 non-null     object
 1   item_id     50 non-null     int64
 2   item_name   50 non-null     object
 3   item_price  50 non-null     float64
 4   item_upc12  50 non-null     object
 5   item_upc14  50 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  10 non-null     object
 1   store_city     10 non-null     object
 2   store_id       10 non-null     int64
 3   store_state    10 non-null     object
 4   store_zipcode  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item         5000 non-null   int64
 1   sale_amount  5000 non-null   float64
 2   sale_date    5000 non-null   object
 3   sale_id      5000 non-null   int64
 4   store        5000 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 195.4+ KB

(None, None, None)

In [97]:
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [100]:
sales = sales.rename(columns={'item' : "item_id", 'store': 'store_id'})
sales.head()

   item_id  sale_amount                      sale_date  sale_id  store_id
0        1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1         1
1        1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2         1
2        1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3         1
3        1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4         1
4        1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5         1

In [99]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [101]:
df = pd.merge(sales, stores, how='left', on='store_id')
df = pd.merge(sales, items, how='left', on='item_id')
df.head()

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [102]:
df = df.drop(columns=["item_id", "store_id"])

In [103]:
df.head()

,sale_amount,sale_date,sale_id,item_brand,item_name,item_price,item_upc12,item_upc14
0,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013

Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [ ]:
# Note that you can do describe() and such on groupby code:

# train.groupby('cluster')['spending_score', 'annual_income', 'age'].describe()